[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
django = "*"
djoser = "*"
django-filter = "*"
django-cors-headers = "*"
django-ckeditor = "*"
drf-extensions = "*"

[dev-packages]
autopep8 = "*"
django-debug-toolbar = "*"

[requires]
python_version = "3.11"
